<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tela de login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
      
 <div class="container">
    
    <form action="{{ url_for('login') }}" method="post">
         <h1>entrar na plataforma</h1>
         <div class="input-container">
            <input type = "text" name = "usuario" placeholder = "email" required> 
            <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/1A1A1A/user.png" alt="user"/>
         </div>
        
         <div class="input-container">
            <input type = "password" name = "senha" placeholder = "senha" required>
            <img width="20" height="20" src="https://img.icons8.com/metro/26/1A1A1A/lock.png" alt="lock"/>
            <a href="#">esqueci minha senha</a>
         </div>
         
            <button type = "submit"> Entrar</button>

         <div>
           <p>não está cadastrado? <a href="#">cadastrar</a> </p>
         </div>
        
     </form>
 </div>

</body>
</html>